@using Chirp.Core.Domain_Model
@model Chirp.Web.CheepTimelineModel
@inject SignInManager<Author> SignInManager
@inject UserManager<Author> UserManager

@if (Model.Cheeps.Any())
{
    <ul id="messagelist" class="cheeps">
        @foreach (CheepDTO cheep in Model.Cheeps)
        {
            <li>
                <p>
                    <strong>
                        <a href="/@cheep.AuthorUserName">@cheep.AuthorDisplayName</a>
                    </strong>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        Author? user = await UserManager.GetUserAsync(User);
                        Author? PostUser = await UserManager.FindByNameAsync(cheep.AuthorUserName);
                        if (await Model.IsFollowing(user,PostUser))
                        {
                            <a>Unfollow</a>
                        }
                        else
                        {
                            <form method="post">
                                <button type="submit" asp-page-handler="Follow">Follow</button>
                                <input type="hidden" name="authorA" value="@user.UserName"/>
                                <input type="hidden" name="authorB" value="@PostUser.UserName"/>
                            </form>
                        }
                    } 
                    <small>&mdash; @cheep.TimeStamp <br/></small>
                    
                    @cheep.Message
                </p>
            </li>
        }
    </ul>
}
else
{
    <em>There are no cheeps so far.</em>
}
}